*{margin: 0; padding: 0; box-sizing: border-box;}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(240, 240, 240);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('IT-nanoni-Korab-Thaci-1.jpg');

}
.profile-picture {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden;
    margin-bottom: 20px; 
}
.profile-picture img {
    width: 100%;
    height: auto;
    display: block;
    
}
.icon{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #fff;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
    transition: all .3s ease-out;
}
.icon:hover{
    width: 400px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.icon:hover i{
    color: #fff;
}
.icon .fa-instagram{
    color: #d81a79;
}
.ig:hover{
    background: #d81a9f;
}
.icon .fa-linkedin{
    color: #1DA1F2;
}
.lnk:hover{
    background: #1DA1F2;
}
.icon .fa-x-twitter{
    color: #262626;
}
.x:hover{
    background: #303030;
}
.footer {
    text-align: right; 
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
    color: white; 
}

/* responsive */
@media only screen and (min-width: 320px) and (max-width: 991px) {
    .main{
        flex-direction: column;
    }
}
